<!DOCTYPE html>
<html>
<head>
    <title>Reversed Names</title>
</head>
<body>
    <h1>Your Reversed Name</h1>
    <p><%= "#{params[:last_name]} #{params[:first_name]}" %></p>
    <a href="/">Go back</a>
</body>
</html>